<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Interviewers>
		<Interviewer>
            <Id>INTW11</Id>
            <FirstName>Lars </FirstName>
            <LastName>Ulrich</LastName>
            <Email>lars.urlich@test.com</Email>
            <PhoneNumber>0101010101</PhoneNumber>
        </Interviewer>
        <Interviewer>
            <Id>INTW22</Id>
            <FirstName>Sarah</FirstName>
            <LastName>Pink</LastName>
            <Email>sarah.pink@test.com</Email>
            <PhoneNumber>0202020202</PhoneNumber>
        </Interviewer>
        <Interviewer>
            <Id>INTW33</Id>
            <FirstName>John</FirstName>
            <LastName>Doe</LastName>
            <Email>john.doe@test.com</Email>
            <PhoneNumber>0303030303</PhoneNumber>
        </Interviewer>
    </Interviewers>
</Context>