<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Users>
        <User>
            <Id>USER1</Id>
            <FirstName>James</FirstName>
            <LastName>Hetfield</LastName>
        </User>
        <User>
            <Id>USER2</Id>
            <FirstName>Kirk</FirstName>
            <LastName>Hammett</LastName>
        </User>
    </Users>
    <Interviewers>
        <Interviewer>
            <Id>INTW11</Id>
            <FirstName>Lars </FirstName>
            <LastName>Ulrich</LastName>
            <Email>lars.urlich@test.com</Email>
            <PhoneNumber>0101010101</PhoneNumber>
        </Interviewer>
    </Interviewers>
    <OrganizationalUnits>
        <OrganizationalUnit>
            <Id>OU1</Id>
            <Label>Local organizational unit 1</Label>
            <Type>LOCAL</Type>
            <UsersRef>
                <UserId>USER1</UserId>
            </UsersRef>
            <OrganizationalUnitsRef />
        </OrganizationalUnit>
        <OrganizationalUnit>
            <Id>OU2</Id>
            <Label>Local organizational unit 2</Label>
            <Type>LOCAL</Type>
            <UsersRef>
                <UserId>USER2</UserId>
            </UsersRef>
            <OrganizationalUnitsRef />
        </OrganizationalUnit>
    </OrganizationalUnits>
</Context>